SLACK_TOKEN=<your-slack-token>
WIT_TOKEN=<your-wit-token>
REDIS_PORT=<your-redis-port>
GITHUB_CLIENT_ID=<your-github-client-id>
GITHUB_CLIENT_SECRET=<your-github-client-secret>
REMOTE_HOST=<your-remote-host>
REMOTE_USER=<your-remote-user>
PRIVATE_KEY=<path-to-your-private-key>
